<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.BoardMapperInter">

	<select id="getPrevNum" parameterType="String" resultType="java.lang.Integer">
	    SELECT b_num FROM BOARD WHERE #{b_num} > b_num ORDER BY b_num DESC LIMIT 1;
	</select>
	
	<select id="getNextNum" parameterType="String"  resultType="java.lang.Integer">
	    SELECT b_num FROM BOARD WHERE b_num > #{b_num} ORDER BY b_num ASC LIMIT 1;
	</select>
	
	<!--최근업로드 게시물3개 -->
	<select id="recentBoard" resultType="bdto">
	select * from BOARD order by b_writeday desc limit 3
	</select>
	
	<select id="getTotalCount" resultType="int" parameterType="Map">
		select count(*) from BOARD
		<if test="keyword!=null">
		where b_title like concat('%',#{keyword},'%') or b_content like concat('%',#{keyword},'%')
		</if>
	</select>
	
	<update id="updateReadCount" parameterType="String">
		update BOARD set b_readcount=b_readcount+1 where b_num=#{b_num}
	</update>
	
	<select id="getData" parameterType="String" resultType="bdto">
		select * from BOARD where b_num=#{b_num}
	</select>
	
	<select id="getMaxNum" resultType="int">
		select ifnull(max(b_num),0) from BOARD
	</select>
	
<!-- 	<select id="getList" parameterType="HashMap" resultType="bdto">
		select * from BOARD 
		 <if test="keyword!=null">
        where b_title like concat('%',#{keyword},'%') or b_content like concat('%',#{keyword},'%') 
	    </if>
	    
	    <if test="sort=='b_num'">
	      order by b_num asc
	    </if>
	    
	    <if test="sort=='b_writeday'">
	        order by b_writeday desc
	    </if>
	    <if test="sort=='b_readcount'">
	        order by b_readcount desc
	    </if>
	    limit #{start},#{perpage}
	</select> -->
	
<select id="getNoticeList" parameterType="HashMap" resultType="bdto">
  SELECT * FROM BOARD WHERE b_notice = 1
  <if test="keyword != null">
    AND (b_title LIKE CONCAT('%', #{keyword}, '%') OR b_content LIKE CONCAT('%', #{keyword}, '%'))
  </if>
  ORDER BY b_num ASC
  <if test="start != null and perpage != null">
    LIMIT #{start}, #{perpage}
  </if>
</select>

<select id="getList" parameterType="HashMap" resultType="bdto">
  SELECT * FROM BOARD WHERE b_notice = 0
  <if test="keyword != null">
    AND (b_title LIKE CONCAT('%', #{keyword}, '%') OR b_content LIKE CONCAT('%', #{keyword}, '%'))
  </if>
  <if test="sort == 'b_num'">
    ORDER BY b_num ASC
  </if>
  <if test="sort == 'b_writeday'">
    ORDER BY b_writeday DESC
  </if>
  <if test="sort == 'b_readcount'">
    ORDER BY b_readcount DESC
  </if>
  <if test="start != null and perpage != null">
    LIMIT #{start}, #{perpage}
  </if>
</select>

		
	<select id="getAllphotos"  parameterType="String" resultType="bdto">	
	select b_photo from BOARD  where b_num=#{b_num} order by b_num
	</select>
<!-- 		
	<insert id="insertBoard" parameterType="bdto">
	insert into BOARD (b_loginid ,b_title, b_content, b_photo, b_readcount,b_writeday) values(#{b_loginid},#{b_title},#{b_content},#{b_photo},0,now())
	</insert> -->
	
	<insert id="insertBoard" parameterType="bdto">
  <if test="b_loginid == 'admin'">
    INSERT INTO BOARD (b_loginid, b_title, b_content, b_photo, b_readcount, b_writeday, b_notice)
    VALUES (#{b_loginid}, #{b_title}, #{b_content}, #{b_photo}, 0, now(), 1)
  </if>
  <if test="b_loginid != 'admin'">
    INSERT INTO BOARD (b_loginid, b_title, b_content, b_photo, b_readcount, b_writeday, b_notice)
    VALUES (#{b_loginid}, #{b_title}, #{b_content}, #{b_photo}, 0, now(), 0)
  </if>
</insert>
	
	<update id="updateBoard" parameterType="bdto">
		update BOARD set b_title=#{b_title}, b_content=#{b_content}
		<if test="b_photo!='no'">
		,b_photo=#{b_photo} 
		</if>
		where b_num=#{b_num}
	</update>
	
	<delete id="deleteBoard" parameterType="String">
		delete from BOARD where b_num=#{b_num}
	</delete>


	<!--boardComment -->
	<insert id="insertComment" parameterType="bcdto">
		insert into B_COMMENT (b_num, bc_loginid, bc_content,bc_regroup, bc_restep, bc_relevel, bc_writeday) 
		values (#{b_num}, #{bc_loginid}, #{bc_content}, #{bc_regroup}, #{bc_restep}, #{bc_relevel},now())
	</insert>

	<update id="updateRestep" parameterType="Map">
		update B_COMMENT set bc_restep=bc_restep+1 where bc_regroup=#{bc_regroup} and bc_restep >#{bc_restep}
	</update>

	<update id="updateComment" parameterType="bcdto">
		update B_COMMENT set bc_content=#{bc_content} where bc_num=#{bc_num}
	</update>

	<select id="getAllComments" parameterType="String" resultType="bcdto">
		select * from B_COMMENT where b_num=#{b_num} order by bc_regroup desc,bc_restep asc
	</select>

	<!--추가  -->
	<select id="getchildComments" parameterType="Map" resultType="bcdto">
		select * from B_COMMENT where bc_regroup = #{bc_regroup} and bc_restep > #{bc_restep} order by bc_restep asc
	</select>

	<select id="getComment" parameterType="String" resultType="bcdto">
		select * from B_COMMENT where bc_num=#{bc_num}
	</select>

	<select id="getCommentMaxNum" resultType="int">
		select ifnull(max(bc_num),0) from B_COMMENT
	</select>
	
	<delete id="deleteComment" parameterType="String">
		delete from B_COMMENT where bc_num=#{bc_num}
	</delete>
	
	<delete id="deletechildComment" parameterType="int">
		delete from B_COMMENT where bc_regroup=#{bc_regroup}
	</delete>
	
</mapper>