<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.EFnMapperInter">

	<select id="getPosting" parameterType="String" resultType="Map">
		select POSTING.*, ENTERPRISE.* from POSTING inner join ENTERPRISE on POSTING.e_num = ENTERPRISE.e_num where POSTING.p_num = #{p_num}
	</select>

	<select id="getTotalCount" resultType="int">
	select count(*) from POSTING
	</select>
	
	<select id="getPagingList" parameterType="Map" resultType="pdto">
	select * from POSTING 
		<if test="searchcolumn!=null and searchword!=null">
		where ${searchcolumn} like concat('%',#{searchword},'%')
		</if>
	order by e_num desc limit #{start},#{perpage}
	</select>
	
</mapper>