<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.EnterpriseMapperInter">

	<!-- num으로 기업 정보찾기 -->
	<select id="findEnterByNum" resultType="edto" parameterType="String">
		select * from ENTERPRISE where e_num=#{e_num}
	</select>

	<!-- 로그인 -->
	<select id="EnterIdPassCheck" parameterType="Map" resultType="int">
	select count(*) from ENTERPRISE where e_id=#{e_id} and e_pw=#{e_pw}
	</select>
	
	<!-- id로 user 정보찾기 -->
	<select id="findEnterById" resultType="edto" parameterType="String">
	select * from ENTERPRISE where e_id=#{e_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinEnterprise" parameterType="edto">
	insert into ENTERPRISE values(null,#{e_id},#{e_pw},#{e_name},#{e_registnum},null,#{e_tel},#{e_addr},#{e_email},0,0)
	</insert>
	
	<!-- 기업탈퇴 -->
	<delete id="withdrawEnterprise" parameterType="Map">
		delete from ENTERPRISE where e_num=#{e_num} and e_pw=#{e_pw}
	</delete>
	
	<!-- 열람권 신청 -->
	<update id="updateResAccessStatus" parameterType="String">
	update ENTERPRISE
	 set e_res_access = 
	  <if test="e_res_access==1">
	    0
	  </if>
	  <if test="e_res_access==0">
	    1
	  </if>
	 where e_name=#{e_name}
	</update>
	
	<!-- 기업에서 이력서 열람하기 -->
	<!-- <select id="getApplicantsByEnterprise" parameterType="String" resultType="Map">
	  SELECT a.*, a.*, r.*
	  FROM APPLICANT a
	  INNER JOIN POSTING p ON a.p_num = p.p_num
	  INNER JOIN RESUME r ON r.r_num = a.r_num
	  WHERE p.e_num = #{e_num}
	</select> -->

  
	<!-- 기업별 관심기업 수 -->
	<select id="heartByEnter" parameterType="String" resultType="int">
		select count(*) from HEART inner join USER on HEART.u_num = USER.u_num where HEART.e_num = #{e_num}
	</select>
	
	<select id="heartUserByEnter" parameterType="Map" resultType="Map">
		select HEART.*, USER.*, RESUME.* from HEART
		inner join USER on HEART.u_num = USER.u_num
		left join RESUME on HEART.u_num = RESUME.u_num and RESUME.r_presume = 1
		where HEART.e_num = #{e_num}
		order by h_num desc limit #{start},#{perpage}
	</select>
	
	<!-- 기업인증 시 -->
	<update id="authCertificate" parameterType="String">
		update ENTERPRISE set e_auth=1 where e_num=#{e_num}
	</update>
	
	<!-- 분포도 -->
	<select id="applicantByEnterprise" parameterType="String" resultType="Map">
		SELECT a.*, u.*
    FROM APPLICANT AS a
    JOIN RESUME AS r ON a.r_num = r.r_num
    JOIN USER AS u ON r.u_num = u.u_num
    JOIN POSTING AS p ON a.p_num = p.p_num
    JOIN ENTERPRISE AS e ON p.e_num = e.e_num
    WHERE e.e_num = #{e_num};
	</select>
	
	<update id="updatelogo" parameterType="Map">
      update ENTERPRISE set
      e_logo=#{e_logo} where e_id=#{e_id}
   </update>
	
</mapper>