<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.EnterpriseMapperInter">

	<!-- 로그인 -->
	<select id="EnterIdPassCheck" parameterType="Map" resultType="int">
	select count(*) from ENTERPRISE where e_id=#{e_id} and e_pw=#{e_pw}
	</select>
	
	<!-- id로 user 정보찾기 -->
	<select id="findEnterById" resultType="edto" parameterType="String">
	select * from ENTERPRISE where e_id=#{e_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinEnterprise" parameterType="edto">
	insert into ENTERPRISE values(null,#{e_id},#{e_pw},#{e_name},#{e_registnum},null,#{e_tel},#{e_addr},#{e_email},0,0)
	</insert>
	
	<!-- 기업탈퇴 -->
	<delete id="withdrawEnterprise" parameterType="Map">
		delete from ENTERPRISE where e_num=#{e_num} and e_pw=#{e_pw}
	</delete>
	
	<!-- 열람권 신청 -->
	<update id="updateResAccessStatus" parameterType="String">
	update ENTERPRISE
	 set e_res_access = 
	  <if test="e_res_access==1">
	    0
	  </if>
	  <if test="e_res_access==0">
	    1
	  </if>
	 where e_name=#{e_name}
	</update>
	
	<!-- 기업별 관심기업 수 -->
	<select id="heartByEnter" parameterType="String" resultType="int">
		select count(*) from HEART where e_num=#{e_num}
	</select>
	
</mapper>