<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.EnterpriseMapperInter">
	
	<!--전체기업회원 -->
	<select id="getAllEnters" parameterType="HashMap" resultType="edto">
		select * from ENTERPRISE order by e_num desc limit #{start},#{perpage}
	</select>
		
	<!--기업회원삭제 -->
	<delete id="deleteEnter" parameterType="String">
		delete from ENTERPRISE where e_num=#{e_num}
	</delete>
	
	<select id="getDataByNum" parameterType="String" resultType="edto">
		select * from ENTERPRISE where e_num=#{e_num}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from ENTERPRISE	
	</select>


	<!-- num으로 기업 정보찾기 -->
	<select id="findEnterByNum" resultType="edto" parameterType="String">
		select * from ENTERPRISE where e_num=#{e_num}
	</select>

	<!-- 로그인 -->
	<select id="EnterIdPassCheck" parameterType="Map" resultType="int">
	select count(*) from ENTERPRISE where e_id=#{e_id} and e_pw=#{e_pw}
	</select>
	
	<!-- id로 user 정보찾기 -->
	<select id="findEnterById" resultType="edto" parameterType="String">
	select * from ENTERPRISE where e_id=#{e_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinEnterprise" parameterType="edto">
	insert into ENTERPRISE values(null,#{e_id},#{e_pw},#{e_name},#{e_registnum},null,#{e_tel},#{e_addr},#{e_email},0,0)
	</insert>
	
	<!-- id중복체크 -->
	<select id="getSearchEnterId" parameterType="String" resultType="int">
	select count(*) from ENTERPRISE where e_id=#{e_id}
	</select>
	
	<!-- 기업탈퇴 -->
	<delete id="withdrawEnterprise" parameterType="Map">
		delete from ENTERPRISE where e_num=#{e_num} and e_pw=#{e_pw}
	</delete>
	
	<!-- 열람권 신청 -->
	<update id="updateResAccessStatus" parameterType="String">
	update ENTERPRISE
	 set e_res_access = 
	  <if test="e_res_access==1">
	    0
	  </if>
	  <if test="e_res_access==0">
	    1
	  </if>
	 where e_name=#{e_name}
	</update>
	
	<!-- 기업에서 이력서 열람하기 -->
	<select id="getAllResumeOfEnter" parameterType="String" resultType="Map">
	  SELECT a.*, p.*, r.*, u.*
	  FROM APPLICANT a
	  INNER JOIN POSTING p ON a.p_num = p.p_num
	  INNER JOIN RESUME r ON r.r_num = a.r_num
	  INNER JOIN USER u ON u.u_num = r.u_num
	  WHERE p.e_num = #{e_num}
	</select>

  
	<!-- 기업별 관심기업 수 -->
	<select id="heartByEnter" parameterType="String" resultType="int">
		select count(*) from HEART inner join USER on HEART.u_num = USER.u_num where HEART.e_num = #{e_num}
	</select>
	
	<select id="heartUserByEnter" parameterType="Map" resultType="Map">
		select HEART.*, USER.*, RESUME.* from HEART
		inner join USER on HEART.u_num = USER.u_num
		left join RESUME on HEART.u_num = RESUME.u_num and RESUME.r_presume = 1
		where HEART.e_num = #{e_num}
		order by h_num desc limit #{start},#{perpage}
	</select>
	
	<!-- 기업인증 시 -->
	<update id="authCertificate" parameterType="String">
		update ENTERPRISE set e_auth=1 where e_num=#{e_num}
	</update>
	
	<!-- 사업자등록번호 수정 시 기업인증 풀리도록 -->
	<update id="authCertificateCancel" parameterType="String">
		update ENTERPRISE set e_auth=0 where e_num=#{e_num}
	</update>
	
	<!-- 분포도 -->
	<select id="applicantByEnterprise" parameterType="String" resultType="Map">
		SELECT a.*, u.*
    FROM APPLICANT AS a
    JOIN RESUME AS r ON a.r_num = r.r_num
    JOIN USER AS u ON r.u_num = u.u_num
    JOIN POSTING AS p ON a.p_num = p.p_num
    JOIN ENTERPRISE AS e ON p.e_num = e.e_num
    WHERE e.e_num = #{e_num};
	</select>

	<update id="updatelogo" parameterType="Map">
      update ENTERPRISE set
      e_logo=#{e_logo} where e_id=#{e_id}
   </update>

	<!-- 인재검색 -->
	<select id="searchAllUserResume" parameterType="Map" resultType="Map">
    select r.*, u.* from USER u join RESUME r on u.u_num=r.u_num
    <if test="r_larea != null or r_ltask != null or r_ltype != null">
        where r_private=0
        <if test="r_larea!=null">
            and r_larea like concat('%',#{r_larea, jdbcType=VARCHAR},'%')
        </if>
        <if test="r_ltask!=null">
            and r_ltask like concat('%',#{r_ltask, jdbcType=VARCHAR},'%')
        </if>
        <if test="r_ltype!=null">
            and r_ltype like concat('%',#{r_ltype, jdbcType=VARCHAR},'%')
        </if>
    </if>
	    limit #{start}, #{perpage}
	</select>

	<select id="getTotalCountOfResumeSearch" parameterType="Map" resultType="int">
    select count(*) from USER u join RESUME r on u.u_num = r.u_num
    <if test="r_larea!=null or r_ltask!=null or r_ltype!=null">
        where r_private=0
        <if test="r_larea!=null">
            and r_larea like concat('%',#{r_larea, jdbcType=VARCHAR},'%')
        </if>
        <if test="r_ltask!=null">
            and r_ltask like concat('%',#{r_ltask, jdbcType=VARCHAR},'%')
        </if>
        <if test="r_ltype!=null">
            and r_ltype like concat('%',#{r_ltype, jdbcType=VARCHAR},'%')
        </if>
    </if>
</select>

	<update id="updateRegistnum" parameterType="Map">
		update ENTERPRISE set e_registnum=#{e_registnum} where e_num=#{e_num}
	</update>
	
</mapper>