<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.FrePhrasesMapperInter">

	<insert id="insertPrases" parameterType="fdto">
		insert into FRE_PHRASES(e_num,f_phrase) values(#{e_num},#{f_phrase})
	</insert>
	
	<select id="prasesList" resultType="fdto" parameterType="String">
		select * from FRE_PHRASES where e_num=#{e_num} order by f_num
	</select>
	
</mapper>