<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.QnaMapperInter">

	<select id="getTotalCount" resultType="int">
		select count(*) from QNA	
	</select>
	
	<select id="getQnaUserTotalCount" resultType="int" parameterType="String">
		select count(*) from QNA where q_loginid=#{q_loginid} 	 
	</select>
	
	<select id="getData" parameterType="String" resultType="qdto">
		select * from QNA where q_num=#{q_num}
	</select>
	
	<select id="getMaxNum" resultType="int">
		select ifnull(max(b_num),0) from BOARD
	</select>
	
	<select id="getList" parameterType="HashMap" resultType="qdto">
		select * from QNA order by q_num desc limit #{start},#{perpage}
	</select>
		
	<select id="getAllfiles"  parameterType="String" resultType="qdto">	
	select q_file from QNA  where q_num=#{q_num} order by q_num
	</select>
		
	<insert id="insertQna" parameterType="qdto">
	insert into QNA (q_loginid ,q_title, q_content, q_email, q_file, q_writeday) values(#{q_loginid},#{q_title},#{q_content},#{q_email},#{q_file},now())
	</insert>
	
	<update id="updateQna" parameterType="qdto">
		update QNA set q_title=#{q_title}, q_content=#{q_content}
		<if test="q_file!='no'">
		,q_file=#{q_file} 
		</if>
		where q_num=#{q_num}
	</update>
	
	<delete id="deleteQna" parameterType="String">
		delete from QNA where q_num=#{q_num}
	</delete>
	
	<!-- qnacomment -->
	<insert id="insertComment" parameterType="qcdto">
		insert into Q_COMMENT (q_num, qc_content, qc_writeday) 
		values (#{q_num}, #{qc_content},now())
	</insert>
	
	<update id="updateComment" parameterType="qcdto">
		update Q_COMMENT set qc_content=#{qc_content} where qc_num=#{qc_num}
	</update>

	<select id="getAllComments" parameterType="String" resultType="qcdto">
		select * from Q_COMMENT where q_num=#{q_num}
	</select>

	<select id="getComment" parameterType="String" resultType="qcdto">
		select * from Q_COMMENT where qc_num=#{qc_num}
	</select>

	<select id="countqnum" resultType="int" parameterType="String">
		select count(*) from Q_COMMENT where q_num=#{q_num} 	
	</select>
	
	
	<select id="getCommentMaxNum" resultType="int">
		select ifnull(max(qc_num),0) from Q_COMMENT
	</select>
	
	<delete id="deleteComment" parameterType="String">
		delete from Q_COMMENT where qc_num=#{qc_num}
	</delete>
	
	
	
</mapper>