<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.TestMapperInter">

	<select id="selectData" resultType="testdto">
	select * from test
	</select>
	
	<select id="applicantByPosting" parameterType="String" resultType="Map">
		SELECT a.*,u.* FROM APPLICANT AS a JOIN RESUME AS r ON a.r_num = r.r_num JOIN USER AS u ON r.u_num = u.u_num WHERE a.p_num=#{p_num};
	</select>

</mapper>