<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.UFnMapperInter">
	<!-- 정보 변경 -->
	<update id="updateUser" parameterType="udto">
	update USER set u_hp=#{u_hp}, u_birth=#{u_birth}, u_email=#{u_email}, u_addr=#{u_addr} where u_id=#{u_id}
	</update>
	
	<update id="updatePhoto" parameterType="Map">
		update USER set u_photo=#{u_photo} where u_id=#{u_id}
	</update>
	
		<select id="getResume" resultType="rdto" parameterType="String">
		select * from RESUME where u_num=#{u_num} and r_presume=1
		</select>
	
	<select id="countLikeEnterprise" resultType="int" parameterType="String">
		select count(h_num) from HEART where u_num=#{u_num}
	</select>
	
	<insert id="likeEnterprise" parameterType="hdto">
		insert into heart (u_num, e_num) values (#{u_num},#{e_num})
	</insert>
	
	<select id="getEnterPrise" resultType="edto" parameterType="string">
		select * from ENTERPRISE where e_num=#{e_num}
	</select>
	
	
	
	
	
</mapper>