<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.UserMapperInter">

	<!-- 로그인 -->
	<select id="userIdPassCheck" parameterType="Map" resultType="int">
	select count(*) from USER where u_id=#{u_id} and u_pw=#{u_pw}
	</select>
	
	<!-- id로 user 정보찾기 -->
	<select id="findUserById" resultType="udto" parameterType="String">
	select * from USER where u_id=#{u_id}
	</select>
	
	<!-- u_num으로 user 정보찾기 -->
	<select id="findUserByNum" resultType="udto" parameterType="String">
	select * from USER where u_num=#{u_num}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="udto">
	insert into USER values(null,#{u_id},#{u_pw},#{u_name},#{u_gender},#{u_birth},#{u_hp},#{u_email},#{u_addr},null,#{u_email_agree})
	</insert>
	
	<!-- id중복체크 -->
	<select id="getSearchId" parameterType="String" resultType="int">
	select count(*) from USER where u_id=#{u_id}
	</select>
	
	<!-- 이력서 등록 -->
	<insert id="insertResume" parameterType="adto">
	insert into APPLICANT values(null,#{p_num},#{r_num},now())
	</insert>
	
</mapper>