<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.mapper.UserMapperInter">

	<!--전체회원 -->
	<select id="getAllUsers" parameterType="HashMap" resultType="udto">
		select * from USER order by u_num desc limit #{start},#{perpage}
	</select>
		
	<!--회원삭제 -->
	<delete id="deleteUser" parameterType="String">
		delete from USER where u_num=#{u_num}
	</delete>
	
	<select id="getDataByNum" parameterType="String" resultType="udto">
		select * from USER where u_num=#{u_num}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from USER	
	</select>
		
	<!-- 로그인 -->
	<select id="userIdPassCheck" parameterType="Map" resultType="int">
	select count(*) from USER where u_id=#{u_id} and u_pw=#{u_pw}
	</select>
	
	<!-- id로 user 정보찾기 -->
	<select id="findUserById" resultType="udto" parameterType="String">
	select * from USER where u_id=#{u_id}
	</select>
	
	<!-- u_num으로 user 정보찾기 -->
	<select id="findUserByNum" resultType="udto" parameterType="String">
	select * from USER where u_num=#{u_num}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="udto">
	insert into USER values(null,#{u_id},#{u_pw},#{u_name},#{u_gender},#{u_birth},#{u_hp},#{u_email},#{u_addr},null,null,#{u_email_agree})
	</insert>
	
	<!-- id중복체크 -->
	<select id="getSearchId" parameterType="String" resultType="int">
	select count(*) from USER where u_id=#{u_id}
	</select>
	
	<!-- 지원하기 -->
	<insert id="insertResume" parameterType="adto">
	insert into APPLICANT values(null,#{p_num},#{r_num},now())
	</insert>
	
	<!-- 지원 여부 확인 -->
	<select id="checkApply" parameterType="Map" resultType="int">
	  SELECT COUNT(*) FROM APPLICANT a
	  INNER JOIN RESUME r ON a.r_num = r.r_num
	  WHERE a.p_num = #{p_num} AND r.u_num = #{u_num}
	</select>
	
	<!-- 카카오 이메일로 회원등록여부 확인 -->
	<select id="findUserByEmail" parameterType="String" resultType="udto">
	select * from USER where u_email=#{u_email}
	</select>
	
	<!-- 이메일 중복확인 -->
	 <select id="userSearchEmail" parameterType="String" resultType="int">
        select count(*)
        from USER
        where u_email=#{u_email}
    </select>
    
	 <select id="userSearchId" parameterType="String" resultType="int">
        select count(*)
        from USER
        where u_id=#{u_id}
    </select>
    
    <!-- 카카오 가입 후 정보입력 -->
    <update id="updateKakaoInfo" parameterType="String">
     update USER
     set u_gender=#{u_gender},u_birth=#{u_birth},
     u_hp=#{u_hp},u_addr=#{u_addr},u_email_agree=#{u_email_agree} 
     where u_num=#{u_num}
    </update>
    
	
</mapper>